.login-form {
    display: flex;
    justify-content: center;
    margin: 100px 0px;
  }

  .example-card {
      width: 350px;
  }

  .example-card  .mat-card-actions {
    text-align: center;
  }
  .example-full-width {
    width: 100%;
  }
