.login-form {
    display: flex;
    justify-content: center;
    margin: 50px 0px;
  }

  .example-card {
      width: 430px;
  }

  .example-card  .mat-card-actions {
    text-align: center;
    margin-bottom: 5px;
  }
  .example-full-width {
    width: 100%;
  }

.mic {
  display: block;
  text-align: center;
  margin-top: 50px;
  color: red;
}

.mat-icon {
  font-size: 100px;
  width: auto;
  height: auto;
  cursor: pointer;
}

.language-selection .mat-radio-button {
  margin-right: 10px;
}

.language-selection {
  text-align: center;
  margin-top: 30px;
}
