<div class="container">
  <h3 class="no-browser-support" *ngIf="noSupport">Sorry, Your Browser Doesn't Support the Web Speech API. Try Opening
    This Demo In Google Chrome.</h3>
  <div class="example-container" *ngIf="!noSupport">
    <div>
      <label>Choose language: </label>
      <mat-radio-group [(ngModel)]="language">
        <mat-radio-button value="en-US">English</mat-radio-button>
        <mat-radio-button value="nl-NL">Dutch</mat-radio-button>
        <mat-radio-button value="es-ES">Spanish </mat-radio-button>
      </mat-radio-group>
    </div>

    <mat-form-field>
      <input matInput placeholder="Title" [(ngModel)]="title">
      <mat-icon matSuffix (click)="titleStartRecognition()">mic</mat-icon>
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="Reason" [(ngModel)]="reason">
      <mat-icon matSuffix (click)="reasonStartRecognition()">mic</mat-icon>
    </mat-form-field>

    <mat-form-field>
      <mat-select  #mySelect [(ngModel)]="type">
        <mat-option value="sick">Sick</mat-option>
        <mat-option value="other">Other</mat-option>
      </mat-select>
      <mat-label>Leave Type</mat-label>
      <mat-icon matSuffix (click)="typeStartRecognition()" >mic</mat-icon>
    </mat-form-field>
    <div class="example-button-row">
        <button mat-raised-button color="secondary" (click)="verify()"> Verify </button>
        <button mat-raised-button color="primary" (click)="submit()"> Submit </button>
    </div>
  </div>
</div>


<div style="width: 400px; height: 400px; position: relative; margin: 100px auto;">
    <h3>Chat Bot</h3>
    <textarea id="txtarea" style="width: 400px; height:340px; resize: none; padding: 0; margin: 0;" readonly [(ngModel)]="qText"></textarea>
	<div style="width: 400px; height: 57px; position: absolute; bottom: 0; border: 1px solid rgb(169, 169, 169);">
		<input id="txt" [(ngModel)]="inputText" placeholder="How can I help you" style="width: 325px; height: 96%; border: none; padding-left: 10px;"/>
		<span style="flex-direction: column;width: 64px;display: inline-flex;vertical-align: top;border-left: 1px solid rgb(169, 169, 169);">
			<button (click)="startListening()">Mic</button>
			<button (click)="pushQuestion()" style="margin-top: 15px;">send</button>
		</span>
	</div>
</div>

