<div class="container">
  <div class="example-container">
    <div>
      <label>Choose language: </label>
      <mat-radio-group [(ngModel)]="language">
        <mat-radio-button value="en-US">English</mat-radio-button>
        <mat-radio-button value="nl-NL">Dutch</mat-radio-button>
        <mat-radio-button value="es-ES">Spanish </mat-radio-button>
      </mat-radio-group>
    </div>

    <mat-form-field>
      <input matInput placeholder="Title" [(ngModel)]="title">
      <mat-icon matSuffix (click)="titleStartRecognition()">mic</mat-icon>
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="Reason" [(ngModel)]="reason">
      <mat-icon matSuffix (click)="reasonStartRecognition()">mic</mat-icon>
    </mat-form-field>

    <mat-form-field>
      <mat-select  #mySelect [(ngModel)]="type">
        <mat-option value="sick">Sick</mat-option>
        <mat-option value="other">Other</mat-option>
      </mat-select>
      <mat-label>Leave Type</mat-label>
      <mat-icon matSuffix (click)="typeStartRecognition()" >mic</mat-icon>
    </mat-form-field>
    <div class="example-button-row">
        <button mat-raised-button color="secondary" (click)="verify()"> Verify </button>
        <button mat-raised-button color="primary" (click)="submit()"> Submit </button>
    </div>
  </div>
</div>


<!-- get agneda details -->
<br>
<h3 style="text-align: center;">Get Agenda Details</h3>
<div class="example-container">
  <div>
    <label>Choose language: </label>
    <mat-radio-group [(ngModel)]="language">
      <mat-radio-button value="en-US">English</mat-radio-button>
      <mat-radio-button value="nl-NL">Dutch</mat-radio-button>
      <mat-radio-button value="es-ES">Spanish </mat-radio-button>
    </mat-radio-group>
  </div>

  <mat-form-field>
    <textarea matInput placeholder="Please ask a question for agenda detaills" [(ngModel)]="final"></textarea>
    <mat-icon matSuffix (click)="startVoice()" class="mic-icon-color">{{matIcon}}</mat-icon>
  </mat-form-field>
</div>

