<h3 style="text-align: center;">Image Details</h3>
<div style="display: flex; flex-direction: row;">
  <div *ngIf="webCamImage">
    <img [src]="webCamImage" />
  </div>
  <div class="example-container">
    <mat-form-field>
      <input matInput  placeholder="Name" [(ngModel)]="formObj.name" id="name">
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="Colour" [(ngModel)]="formObj.colour" id="colour">
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="Width" [(ngModel)]="formObj.width" id="width">
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="Height" [(ngModel)]="formObj.height" id="height">
    </mat-form-field>

    <div class="example-button-row">
      <button mat-raised-button color="primary" (click)="submit()"> Submit </button>
    </div>
  </div>
</div>

