.home {
  text-align: center;
  width: 100%;
  overflow: hidden;
}
.actionBtn {
  margin-top: 5px;
  margin-bottom: 2px;
  font-size: 1.2em;
}
::ng-deep .mat-chip-list-wrapper {
  justify-content: center;
}

.snapshot {
  text-align: center;

}
img {
  margin-left: 20px;
  max-width: 500px;
  max-height: 500px;
}

ul.links {
  padding-bottom: 20px;
}
